.shop {
    height: 100vh;
    width: 100vw;
    background-color: #ffffff;
}

.header {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar {
    width: 30vw;
    border-radius: 15px;
    /* border: 2px solid #eee; */
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}

#title-bar {
    height: 60px;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

#back {
    font-size: xx-large;
    padding-top: 3px;
    padding: 0px 5px;
    margin-left: 20px;
}

#back:hover {
    border-radius: 80%;
    background-color: #eee;
}

.below {
    display: flex;
    margin-top: 50px;
}

#filter {
    width: 20vw;
    padding-left: 20px;
}

#products {
    width: 80vw;
}