.recommend-container {
    background-color: #FFFFFF;
    width: 1025px;
    height: 550px;
    border-radius: 3px;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, 0.16);
}

#flexy {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.top {
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#close {
    padding-top: 27px;
    padding-right: 20px;
}

#close:hover {
    color: red;
}

h3 {
    padding-top: 27px;
    padding-left: 27px;
    padding-bottom: 10px;
}